@inherits LayoutComponentBase

<main>
    <nav class="navigation">
        <section class="container">
            <h1 class="title">Git Webhook Runner</h1>
        </section>
    </nav>
    <section class="body">
        @Body
    </section>
</main>

