@page "/"
@using shared
@inject HttpClient _http

@if (_eventLogItems == null)
{
    <div>Loading...</div>
}
else
{
    <EventLogList Items="@_eventLogItems"/>
}

@code {
    private EventLogItem[] _eventLogItems;
    
    protected override async Task OnInitializedAsync()
    {
        _eventLogItems = await _http.GetFromJsonAsync<EventLogItem[]>("api/EventLog");
    }
}

